.dropdown-menu {
    background: red;
    width: 200px;
    position: absolute;
    top: 120px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background-color:  #009400;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #79C91D;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }


  
  .nav-item-profile {
    position: relative;
  }
  
  .dropdown-menu-profile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu-profile li {
    background-color:  #009400;
    cursor: pointer;
  }
  
  .nav-item-profile:hover .dropdown-menu-profile {
    display: block;
  }
  
  .nav-links {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    display: block;
  }
  
  .signout-btn {
    cursor: pointer;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }